@font-face {
  font-family: "Pragmatica";
  src: url("./assets/PragmaticaCondMedium.otf");
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  min-width: 350px;
  overflow-x: hidden;

  .header {
    max-width: 1440px;
    min-width: 350px;
    margin-left: 40px;
    display: flex;
    height: 590px;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: flex-start;
    gap: 170px;
    @media (max-width: 1200px) {
      gap: 0px;
    }
    @media (max-width: 1025px) {
      flex-direction: column;
      gap: 500px;
      height: 820px;
    }
    @media (max-width: 970px) {
      margin-left: 20px;
    }

    .left {
      h1 {
        font-family: "Pragmatica";
        font-style: normal;
        font-weight: 200;
        font-size: 60px;
        line-height: 100%;
        color: #333333;
        width: 524px;
        @media (max-width: 542px) {
          width: 300px;
        }
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #333333;
        opacity: 0.8;
        width: 323px;
      }
    }
    .right {
      position: relative;
      img {
        position: absolute;
      }
      :nth-child(1) {
        bottom: 0;
        @media (max-width: 390px) {
          left: -20px;
        }
      }
      :nth-child(2) {
        bottom: 0;
        left: 100px;
        @media (max-width: 520px) {
          left: 0px;
        }
        @media (max-width: 390px) {
          left: -20px;
        }
      }
      :nth-child(3) {
        left: -100px;
        top: 100px;
      }
      :nth-child(4) {
        left: 475px;
        bottom: 0;
        @media (max-width: 1335px) {
          left: 400px;
        }
        @media (max-width: 1261px) {
          left: 350px;
        }
        @media (max-width: 1025px) {
          left: 475px;
        }
        @media (max-width: 625px) {
          left: 375px;
        }
        @media (max-width: 520px) {
          left: 300px;
        }
        @media (max-width: 440px) {
          left: 200px;
          bottom: 350px;
        }
      }
    }
  }

  .categories {
    max-width: 1440px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 243, 243);
    .pointer {
      display: flex;
      align-items: center;
      gap: 14px;
      margin-top: 80px;
      margin-left: 40px;
      img {
        margin-top: 10px;
      }
      @media (max-width: 1400px) {
        margin-left: 248px;
      }
      @media (max-width: 700px) {
        margin-left: 150px;
      }
      @media (max-width: 460px) {
        margin-left: 100px;
      }
      @media (max-width: 390px) {
        margin-left: 70px;
      }
    }
    h1 {
      font-family: "Pragmatica";
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 100%;
      color: #333333;
    }
    .box {
      display: grid;
      grid-template-columns: repeat(6, 0fr);
      gap: 45px;
      align-self: center;
      margin-top: 20px;
      margin-bottom: 80px;

      @media (max-width: 1400px) {
        grid-template-columns: repeat(4, 0fr);
      }
      @media (max-width: 930px) {
        grid-template-columns: repeat(3, 0fr);
      }
      @media (max-width: 680px) {
        grid-template-columns: repeat(2, 0fr);
      }
      @media (max-width: 440px) {
        grid-template-columns: repeat(1, 0fr);
      }

      .category {
        width: 189px;
        height: 212px;
        background: #ffffff;
        border-radius: 4.00424px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 22px;
        position: relative;
        p {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          text-align: center;
          color: #333333;
        }
      }
    }
  }
  .discounts {
    background: #f9f1f1;
    max-width: 1440px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pointer {
      display: flex;
      gap: 14px;
      margin-right: 1130px;
      @media(max-width: 1440px) {
        margin-right: 305px;
      }
      @media(max-width: 650px) {
        margin-right: 65px;
      }
      h1 {
        font-family: "Pragmatica";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        color: #333333;
      }
      img {
        margin-top: 7px;
      }
    }
    .ads {
      margin-left: 40px;
      position: relative;
      width: 1330px;
      display: flex;
      justify-content: center;

      @media (max-width: 1000px) {
        margin-left: 0;
      }
      @media (max-width: 650px) {
        width: 220px !important;
      }
    }
  }
}

.leftNav {
  transform: rotateY(180deg);
  position: absolute;
  left: -79px;
  bottom: 0px;
  z-index: 2;
  @media (max-width: 1440px) {
    bottom: 120px;
  }
  @media (max-width: 650px) {
    bottom: 0px;
  }
}
.rightNav {
  position: absolute;
  right: -53px;
  bottom: 0px;
  z-index: 1;
  @media (max-width: 1440px) {
    right: -80px;
    bottom: 120px;
  }
  @media (max-width: 650px) {
    right: -80px;
    bottom: 0px;
  }
}
.images-ads {
  img {
    @media (max-width: 1440px) {
      width: 500px;
    }
    @media (max-width: 650px) {
      width: 220px;
    }
  }
}
