.newsContainer {
  max-width: 1345px;
  margin: auto;
  overflow-x: hidden;
  min-width: 350px;
  @media (max-width: 987px) {
    margin-left: 20px;
  }

  .newsPageRouteHistory {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    @media (max-width: 987px) {
      margin-left: 10px;
    }
    div {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
      opacity: 0.5;
      a {
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
      }
    }
  }

  .newsCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    margin-top: 50px;
    @media (max-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1010px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 658px) {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
    }
  }
}
