.profileContainer {
  max-width: 1345px;
  margin: auto;
  overflow-x: hidden;
  min-width: 350px;
  @media (max-width: 987px) {
    margin-left: 20px;
  }
  .profileRouteHistory {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    @media (max-width: 987px) {
      margin-left: 10px;
    }
    div {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
      opacity: 0.5;
      a {
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
      }
    }
  }
  .account {
    .accountTitle {
      font-weight: 400;
      font-size: 40px;
      line-height: 100%;
      color: #333333;
    }
    .accountDetails {
      display: flex;
      gap: 60px;
      @media (max-width: 518px) {
        flex-direction: column;
      }
      .accountData {
        .data {
          font-weight: 400;
          font-size: 15px;
          line-height: 100%;
          color: #333333;
          p {
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #333333;
            opacity: 0.5;
          }
        }
        .editButton {
          font-weight: 500;
          font-size: 15px;
          line-height: 100%;
          color: #999999;
          display: flex;
          gap: 7px;
        }
      }
    }
  }
  .ordersHistory {
    margin-top: 120px;
    h2 {
      font-weight: 400;
      font-size: 30px;
      line-height: 100%;
      color: #333333;
    }
    table {
      width: 1288px;
      text-align: left;
      //   border-spacing: 30px;
      div {
        width: 1288px;

        background-color: #f2f2f2;
        thead {
          tr {
            width: 1288px;
            th {
              padding-left: 30px;
              padding-top: 25px;
              padding-bottom: 25px;
              font-weight: 400;
              font-size: 15px;
              line-height: 100%;
              color: #333333;
              border-style: none;
            }
          }
        }
      }
      .td {
        padding-left: 16px;
      }
      .buttonTd {
        width: 152px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 15px;
        display: flex;
        color: #000;
        // height: 30px;
        background: #f0f0f0;
        border-radius: 5px;
        cursor: pointer;
      }
      tbody {
        max-width: 1288px;
        tr {
          //   .firstChild {
          //     padding-top: 50px;
          //   }
          td {
            padding-top: 30px;
            padding-left: 30px;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #333333;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
